<h3>Boris the (web)Spider</h3>
<!-- <p>Look who's crawling up my wall...Black and hairy, very small...</p> -->
<p>
<p>Current time is <%= @current_time %></p>
<!-- the img below lives in app/assets/images-->
<%= image_tag('boris.jpeg') %>
</p>
